#root_s section {

 }
#root_s section .ant-tabs, #root_s section .ant-row, #root_s section .ant-space {
    padding-left: 15px;
    padding-right: 15px;
}
#root_s section .position {
    border: 0px;
}
#root_s section .ant-tabs{
    padding-top: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(128 128 153) 33%, rgba(255, 255, 255, 0) 100%);
}
#root_s section .position{
    background-color: rgb(255 255 255 / 0%);
}
.ant-tabs-tab {
    background: rgb(128 128 153 / 33%);
    color: black;
}
.ant-tabs-tab-active {
     border-bottom-color: #ffffff;
}
 .tagField {
     padding: 2px 10px 5px 10px;
}
 #root_s section .ant-space {
    padding-bottom: 15px;
}
.ant-tag-volcano {
    color: #a92906;
    background: #f6e8ff;
    border-color: #a92906;
    border-width: 1px;
}
.ant-tag-cyan {
    color: #4d785e;
    background: #f0fff9;
    border-color: #4d785e;
}
.ant-tag-purple {
    color: #b72a00;
    background: #fffdf0;
    border-color: #b72a00;
}
#stage-namefield-input::placeholder {
    color: rgb(255 255 255 / 42%);
}