.stage-content {
  height: 100%;
  width: 100%;
  color: black;
  border: rgba(33, 35, 48, 0.90);
  background-color: rgb(240, 248, 255, 0.9);
  /* background-color: rgb(255, 20, 147); */
  /* color:#dda0dd; */
  border-radius: 5px;
  border-style: double;
  border-width: 6px;
}

.stage-name {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 5.25px;
  margin-left: 12px;
  margin-right: 12px;

  overflow: hidden;
}

.node-header {
   border-bottom: 2px solid black
}

.node-attribute-icons {
  z-index: 10;
  overflow: hidden;
  height: 26.5px;
  max-width: 90px;
  margin-top: 3px;
  margin-left: 4px;
}

.node-controll-button-holder {
  position: absolute;
  margin-top: 4px;
  margin-right: 3px;
  top: 0px;
  right: 0px;
  z-index: 20;
}