:root {
  --default-background: rgb(221, 235, 217, 1);
  --default-border-color: rgba(33, 35, 48, 0.90);
  --default-text-color: rgb(0, 0, 0);
  --dark-text: rgba(255, 255, 255, 0.65);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --bright-blue: #1677ff;
  --input-background: rgba(255, 255, 255, 0.2);
  --dark-toolbar: #f5f5f5;
}

body {
  background-color: #222431;
  color: white;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: .9em;
}

h1 {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #445fef, #00008b00) 1;
  font-weight: lighter;
}

/* button { */
/* padding: .5em; */
/* border-radius: 1em; */
/* font-weight: bold; */
/* color: white; */
/* background-color: #445fef; */
/* border: 1px solid #445eef; */
/* width: 80%; */
/* cursor: pointer; */
/* margin: 1em; */
/* align-self: center; */
/* } */
/* button:hover { */
/* background-color: #445eef7e; */
/* border: 1px solid #445eef7e; */
/* } */

/* button { */
/* box-shadow: none; */
/* remove box shadow */
/* } */

[type="checkbox"],
[type="radio"] {
  margin-right: .5em;
}

input {
  cursor: text;
}

label {
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3.h4,
h5 {
  font-size: 1.2em;
}

.x6-graph-grid:first-of-type {
  display: none;
}


/* Main Window (Left side) */

.main-sider {
  overflow: auto;
  /* 48px = Height of collide button on sider */
  height: calc(100vh - 48px);
  left: 0;
  top: 0;
  bottom: 0;
}

/* Main Window (Right side) */

.scene-box {
  padding-top: 6px;
  padding-bottom: 6px;
}

.site-layout {
  height: 100vh;
}

#stageNameInputField {
  margin-right: 5%;
}

.graph-editor-field {
  height: 100%;
  width: 100%;
  border: 0px;
}
.graph-toolbox, .graph-container, .graph-data-field {
  width: 100%;
  margin: 5px;
}

.graph-toolbox {
  height: 36px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border-color: hsla(232, 18%, 16%, 0.1);
  border-style: solid;
  padding: 2px;
  padding-left: 16px;
  padding-right: 16px;
}

.graph-toolbox-content {
  float: right;
}

.graph-toolbox-content .ant-space-item {
  display: flex;
  align-content: center;
}
.ant-card-body{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}

.graph-container {
  flex: 1;
  overflow: auto;
}

#graph {
  flex: 1;
  background-color: #F9F9F9;
  border-radius: 5px;
  border-color: hsla(232, 18%, 16%, 0.1);
  border-style: solid;
}

.graph-data-field {
  background-color: #F9F9F9;
  border-radius: 5px;
  border-color: hsla(232, 18%, 16%, 0.1);
  border-style: solid;
}

.graph-no-scene-placeholder {
  margin: 8px;
  margin-top: 64px;
  margin-bottom: 64px;
  height: calc(100vh - 2 * 64px);
}

.graph-furniture-selection {
  width: 256px;
}
