body {
  background-color: #222431;
  color: white;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: .9em;
}

h1 {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, #445fef, #00008b00) 1;
  font-weight: lighter;
}

/* button { */
    /* padding: .5em; */
    /* border-radius: 1em; */
    /* font-weight: bold; */
    /* color: white; */
    /* background-color: #445fef; */
    /* border: 1px solid #445eef; */
    /* width: 80%; */
    /* cursor: pointer; */
    /* margin: 1em; */
    /* align-self: center; */
/* } */
/* button:hover { */
  /* background-color: #445eef7e; */
  /* border: 1px solid #445eef7e; */
/* } */

/* button { */
  /* box-shadow: none; */
  /* remove box shadow */
/* } */

[type="checkbox"],
[type="radio"] {
  margin-right: .5em;
}

input {
  cursor: text;
}

label {
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}
h1{
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3.h4,h5 {
  font-size: 1.2em;
}

.main-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.graph-container {
  display: flex;
  z-index: 500;
  height: 68vh;
  margin: 10px;
}

#graph {
  flex: auto;
  border: black;
  border-style: dotted;
}

.node-context-menu {
  position: absolute;
  z-index: 10000;
}

.graph-no-scene-placeholder {
  /* margin by default is {32 x 8}px */
  height: calc(100% - 64px);
}

.stage-node-content {
  text-align: center;
  width: 100%;
  height: 100%;
  border: #222431;
  border-radius: 5px;
  border-style: solid;
}

.stage-node-content-control-buttons {
  z-index: 2;
  float: right;
}