:root {
    --dark-background: rgb(0 33 64);
    --dark-background-alt: rgb(27 61 93);
    --dark-text: rgba(255, 255, 255, 0.65);
    --bright-blue: #1677ff;
    --input-background: rgba(255, 255, 255, 0.2);
    --dark-toolbar: #f5f5f5;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --placeholder: rgb(233, 184, 184);
}

/* Set sane font defaults */
#root.dark-mode, #root.dark-mode div, #root.dark-mode span {
    color: var(--dark-text);
}
/* Placeholder text */
#root.dark-mode #stageNameInputField::placeholder {
    color: var(--placeholder);
}
#root.dark-mode input::placeholder {
    color: var(--placeholder);
}

/* Scene Builder Header Buttons */
#root.dark-mode .ant-card-extra button span {
    color: var(--black);
}
#root.dark-mode .ant-card-extra button.ant-btn-compact-last-item span {
    color: var(--dark-text);
}
/* Stage Tab */
#root.dark-mode div.ant-tabs-tab-active div, #root.dark-mode div.ant-tabs-tab-active svg {
    color: var(--black);
}
/* Tag backgrounds */
#root.dark-mode .ant-select-selection-item {
    background-color: var(--dark-background-alt);
}
/* Fix for the Race Dropdown */
#root.dark-mode .position-race-select .ant-select-selection-item {
    background-color: var(--bright-blue);
}
/* Main Background */
#root.dark-mode main {
    background-color: var(--dark-background);
}
#root.dark-mode>section {
    background-color: var(--dark-background);
}
/* Tooltips */
#root.dark-mode button.tool-tip span {
    color: var(--dark-text);
    /* border: white solid 1px;
    padding: 3px;
    border-radius: 15px; */
}

/* Dropdowns */
#root.dark-mode .ant-select-selector {
    background-color: var(--bright-blue);
    border-color: var(--bright-blue);
}

#root.dark-mode .ant-empty-description,
#root.dark-mode span.anticon {
    color: var(--dark-text);
}

#root.dark-mode :where(.css-dev-only-do-not-override-14wwjjs).ant-card {
    background-color: var(--dark-background);
    color: var(--dark-text);
    /* Fix for the border color on the Stage Page */
    border-color: var(--bright-blue);
    border-width: 3px;
}

#root.dark-mode #stageNameInputField {
    color: var(--white);
}

#root.dark-mode #stageNameInputField {
    border-color: var(--bright-blue);
    background-color: var(--input-background);
}

/* Graph */

#root.dark-mode .x6-graph-grid {
    opacity: 0.2;
}

#root.dark-mode span.ant-btn-icon span.anticon {
    color: var(--black);
}
#root.dark-mode .graph-toolbox span.ant-btn-icon span.anticon {
    color: var(--white);
}

#root.dark-mode .graph-toolbox,
#root.dark-mode #graph {
    border-color: var(--bright-blue);
    background-color: var(--input-background);
}
#root.dark-mode .tag-display-field {
    background-color: inherit;
}


#root.dark-mode #graph {
    background-color: var(--input-background);
}

#root.dark-mode .graph-data-field {
    border-color: var(--bright-blue);
    background-color: var(--dark-background);
    color: var(--white);
}

#root.dark-mode .graph-data-field span {
    color: var(--white);
}

#root.dark-mode .ant-input-number-group-addon {
    color: var(--white);
    border-color: var(--bright-blue);
    background-color: var(--input-background);
}

.ant-input-number-group-addon,
#root.dark-mode :where(.css-dev-only-do-not-override-14wwjjs).ant-input-number-group>.ant-input-number:last-child,
:where(.css-dev-only-do-not-override-14wwjjs).ant-input-number-group .ant-input-number-group-addon:last-child {
    border-color: var(--bright-blue);
}


/* Graph Area */


/* Font Defaults*/
/* Stage Name */
#root.dark-mode div.stage-name span{
    color: var(--black);
}

#root.dark-mode #graph div.ant-space-compact  {
    color: var(--black);
}

#root.dark-mode .ant-btn-icon span.anticon {
    color: var(--white);
}

#root.dark-mode span.ant-tag-cyan, #root.dark-mode span.ant-tag-cyan .ant-tag-close-icon {
    color: var(--black);
}

#root.dark-mode div.graph-data-field{
    background-color: var(--dark-background);
}

#root.dark-mode div.graph-data-field input {
    background-color: var(--input-background);
}

/* Tab List */
#root.dark-mode div[role="tablist"] {
    padding-left: 16px;
}


/* Tags */
#root.dark-mode span.ant-tag, #root.dark-mode .tag-display-field span.anticon {
    color: var(--black);
}


/* Background fix? */
#root.dark-mode .ant-card-head, #root.dark-mode .ant-card-body, #root.dark-mode .scene-box > div.graph-editor-field  {
    background-color: var(--dark-background);
}


#root.dark-mode .position .position-attribute-card {
    background-color: var(--dark-background);
    border-color: var(--bright-blue);
    border-width: 3px;
}

#root.dark-mode .bottom-footer .ant-card-bordered {
    color: var(--white);
    border-color: var(--bright-blue);
    border-width: 3px;
}
#root.dark-mode .bottom-footer .ant-card-extra .ant-btn span {
    color: var(--white);
}