#base_data, #positions, #stage_extra  {
    background-color: rgba(255, 255, 255, 0.048);
    padding: 1em;
    margin: 1em;
}
#position_holder {
    margin: 2em;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#position_holder .position {
    padding: .5em 2em 2em 2em;
    border-bottom: 2px solid #445fef;
    border-radius: 2em 2em 0 0;
    background-color: rgba(255, 255, 255, 0.055);
    margin-top: 2em;
    margin-right: 2em;
    width: 680px;
}
#position_holder .position:last-child, #position_holder .position:last-child:nth-child(3) {
margin-right: 0em;
}
h2 {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #00008b00, #445fef, #00008b00 ) 1;
}
h4, h3 {
    text-align: left;
    padding-bottom: 1em;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #445fef, #00008b00) 1;
}
#position_holder button, #clear_tags {
    margin: auto;
    background-color: #95184e;
    border: 1px solid #95184e;
}
#position_holder button:hover,
#clear_tags:hover {
    background-color: #95184e7e;
    border: 1px solid #95184e7e;
}
#clear_tags{
    margin: auto;
}
.position {
    display: flex;
    flex-flow: column;
}
div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}
div.row h4 {
    width: 100%;
}
fieldset {
    border: none;
    display:flex;
    flex-direction: column;
}
fieldset label{
    padding: .25em;
}
#stage_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 1em;
    margin: 2em;
    min-height: 66px;
}

#stage_tags div{
    background-color: white;
    color: black;
    width: fit-content;
    margin: 1em;
    padding: .5em;
    border-radius: 1em;
    padding-right: 1.5em;
}

#stage_tags div::before{
    content: "X";
    margin-right: 1em;
    padding: .25em;
    border-radius: 4em;
}
#stage_tags div:hover::before {
    color:red;
}
#stage_tags div:hover{
    background-color: #ffffff7e;
}

#stage_extra .offset {
    display: flex;
    flex-wrap: wrap;
}
#stage_extra .offset h3 {
    width: 100%;
}
#stage_extra .offset label {
    display: flex;
    padding: 1em 1em 0em 0em;
}