/**
 * Generic globals
 * everything is in a main div so if we want items to be full width its easiest start from 0
 */
body {
    padding: 7;
    margin: 1;
}

#positions, #stageheader, #tags, #extra {
    padding: 1em;
}
fieldset {
    border: none;
}
fieldset input{
    margin-left: .5em;
}

.stagedivider {
    font-style: italic;
}

/* #root_s > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
} */
/**
 * Main content Grid Setup
 */
/* #root_s>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
}
#stage_holder, #positions  {
    grid-column: 1 / -1;
}
#extras {
     grid-column: 1 / span 1;
 } */
/**
 * Top Stage Creater Start
 */

/* Has to be class, using an id only affects the actual text field, without the border */
.stage-namefield {
    width: 350px;
    margin: 10px;
    color: white;
}

#stage-namefield-input {
    color: white;
    font-style: oblique;
    font-weight: bolder;
}

#stage-namefield-input::placeholder {
    color: rgba(255, 255, 255, 0.26);
}

#stageheader{
    /* width: 100%; */
    margin: 0;
    padding: 1em;
    border-bottom: 2px solid #445fef;
}
#stageheader span {
    padding-right: 1em;
}
/**
 * Positions area Start
 */
.position-race-text {
    font-weight: bolder;
    text-decoration: underline;
}

.position-race-select {
    width: 180px;
    text-align: left;
}

.position-attribute-card {
    padding: 6px;
    height: 135px;
}

#positions {
    padding: 1em;
    border-bottom: 2px solid #445fef;
}
.position {
    border: 2px solid #445fef;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
}
.position:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.055);
}
.position:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.055);
}
.position:nth-child(3) {
    background-color: rgba(0, 255, 0, 0.055);
}
.position:nth-child(4) {
    background-color: rgba(255, 255, 0, 0.055);
}
.position .row {
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}
.position .row h2 {
    margin-right: 1em;
    width: 130px;
}
.position .row h3 {
    margin-right: 1em;
    width: 135px;
}
.position .row h3:hover {
    text-shadow: 0 0 10px #445eef4d;
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.position .row .base, .position .row .extra {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 1em;
    padding: .5em 1em .5em 1em;
}
.position .row .extra {
    flex-direction: column;
    align-items: flex-start;
}
.position .row .extra div {
    width: 100%;
}
.position .row .extra div fieldset{
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: .5em;
    margin-top: .5em;
    border-radius: .5em;
    padding-right: 2em;
}
.extra fieldset:last-child {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    align-items: center;
}

.extra fieldset:last-child label {
    display: contents;
}

.extra fieldset:last-child label input {
    width: 100%;
    box-sizing: border-box;
}

.extra fieldset:last-child h3 {
    grid-column: 1 / -1;
}
/**
 * Tags Area Start
 */
.tagField {
    user-select: none;
}

.tagInputField {
    width: 78px;
    vertical-align: top;
}

.tagNewField {
    border: dashed;
}


#tags {
    border-bottom: 2px solid #445fef;
}

#stage_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 1em;
    margin: 2em;
    min-height: 66px;
}

.tag-select-add {
    text-align: center;
    color: black;
}

/* #stage_tags div {
    background-color: white;
    color: black;
    width: fit-content;
    margin: 1em;
    padding: .5em;
    border-radius: 1em;
    padding-right: .75em;
}

#stage_tags div::before {
    content: "X";
    margin-right: 1em;
    padding: .25em;
    border-radius: 4em;
}

#stage_tags div:hover::before {
    color: red;
}

#stage_tags div:hover {
    background-color: #ffffff7e;
} */

.ant-dropdown-menu {
    max-height: 250px;
    overflow: auto;
}

.ant-dropdown-menu-item {
    max-height: 25px;
    overflow: hidden;
}
.ant-dropdown-menu-item span {
    max-height: 23px;
}

.ant-dropdown-menu-submenu-title {
    max-height: 50px;
}
.ant-dropdown-menu-title-content {
    max-height: 50px;
}
.ant-dropdown-menu-submenu-expand-icon {
    max-height: 50px;
}

.extra-card {
    height: 190px;
}

.extra-duration {
    width: 220px;
}

.extra-duration-input {
    width: 80%;
}

.extra-navinfo {
    width: 300px;
}

.stage-header {
    width: 100%;
    position: sticky;
    padding-inline-start: 20px;
    padding-inline-end: 0px;
    /* padding: 10; */
    top: 0;
    left: 0;
    z-index: 1000;
}

.stage-header-menu {
    float: right;
}

.stage-header-menu-entry {
    min-width: 120px;
    text-align: center;
}
