/**
 * Generic globals
 * everything is in a main div so if we want items to be full width its easiest start from 0
 */
body {
  padding: 0;
  margin: 0;
}

/**
 * Top Stage Creater Start
 */

.stage-header {
  width: 100%;
  position: sticky;
  padding-inline-start: 20px;
  padding-inline-end: 0px;
  /* padding: 10; */
  top: 0;
  left: 0;
  z-index: 1000;
}

.stage-namefield {
  width: 450px;
}

#stage-namefield-input {
  color: white;
  font-style: oblique;
  font-weight: bolder;
}

#stage-namefield-input::placeholder {
  color: rgba(255, 255, 255, 0.26);
}

.stage-header-menu {
  float: right;
}

.stage-header-menu-entry {
  min-width: 120px;
  text-align: center;
}

/**
 * Positions
 */
.position {
  /* border: 2px solid hsla(232, 18%, 16%, 0.1); */
  /* border-radius: 16px; */
  padding: 16px;
  padding-top: 0px;
}

/**
 * Tags
 */

.tag-header-row {
  margin-left: 16px;
  margin-right: 16px;
}

.ant-dropdown-menu {
  max-height: 250px;
  overflow: auto;
}

.ant-dropdown-menu-item {
  max-height: 25px;
  overflow: hidden;
}

.ant-dropdown-menu-item span {
  max-height: 23px;
}

.ant-dropdown-menu-submenu-title {
  max-height: 50px;
}

.ant-dropdown-menu-title-content {
  max-height: 50px;
}

.ant-dropdown-menu-submenu-expand-icon {
  max-height: 50px;
}

/* Tag Field */

.tag-display-field {
  /* border: 2px hsla(232, 18%, 16%, 0.1) solid; */
  /* border-radius: 16px; */
  background-color: #FFF;

  margin: 24px;
  margin-top: 0px;
  /* padding: 18px; */
  /* min-height: 52px; */
}

.stage-tag {
  user-select: none;
}

.stage-tag-input {
  width: 78px;
  vertical-align: top;
}

/**
 * Extra
 */

.extra-navinfo-textarea {
  width: 250px;
}

.extra-duration-input {
  width: 80%;
}

.ant-dropdown-hidden {
  display: block !important;
}

/**
 * Animation and Extras
 */
ul[overlayclassname="test12334"] {
    height: fit-content;
    display: flex;
    min-height: 100px;
    flex-direction: column;
}
.ant-dropdown ul[overlayclassname="test12334"] li.ant-dropdown-menu-item {
    height: auto;
    min-height: 45px;
    max-height: 45px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 2px;
}
.ant-dropdown ul[overlayclassname="test12334"] li.ant-dropdown-menu-item:last-child{
    height: auto;
    min-height: 50px;
    padding-top: 5px;
    margin-top: 5px;
    align-items: flex-start;
}