body {
    background-color: #222431;
    color: white;
    padding: .5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .5em;
    font-size: .9em;
}
h1 {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #445fef, #00008b00) 1;
    font-weight: lighter;
}
button {
    padding: .5em;
    border-radius: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #445fef;
    border: 1px solid #445eef;
    width: 300px;
    cursor: pointer;
}
button:hover {
    background-color: #445eef7e;
    border: 1px solid #445eef7e;
}
button {
    box-shadow: none;
    /* remove box shadow */
}
[type="checkbox"],
[type="radio"] {
    margin-right: .5em;
}
input {
    cursor: text;
}
label {
    cursor: pointer;
}
input:focus::-webkit-input-placeholder {
    color: #d3d3d3;
}
h1,h2,h3,h4,h5{
    font-size: 1.1em;
}

.box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: blue;
}

#box1 {
    top: 100px;
    left: 100px;
}

#box2 {
    top: 200px;
    left: 200px;
}

#graph {
    border: 1px dashed rgb(200, 200, 200);
    position: relative;
    width: 95vw;
    height: 80vh;
    z-index: -1;
}
